body{
    background-color: #eec94d;
    font-family: 'Lora', serif;
}

.container{
    margin-top: auto;
margin-bottom: auto;
}









.borde{}
.borde1{
    background-color:  #eec94d;
    height: 200px;
}
.borde2{

height: 200px;
    background-color:#eec94d;
    
}
.borde3{
    background-color: #eec94d;
  
}
.borde4{
  background-color: #eec94d;

}
.borde5{
background-color: #000000;

}
.carousel-item {
height: 50vh;
min-height: 350px;
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.card {
    background-color:  #eec94d;  
}
.card-body{
    background-color:  #eec94d;  
}